@import '../00_Tokens/00_Tokens.css';

.datatable {
  background-color: var(--background-primary);
}

#main {
  padding: var(--space-0) var(--space-200);
  border-collapse: separate;
}

#main thead th {
  background-color: var(--foreground-secondary-rest);
  font-family: 'NotoMono';
  padding: 1rem 0.75rem;
  text-align: left;
}

#main tbody td {
  background-color: var(--foreground-primary);
  padding: 1rem 0.75rem;
  border-radius: var(--radius-small);
  vertical-align: top;
  background-color: var(--foreground-primary-rest);
  border: 1px solid var(--stroke-dublin-rest);
}

.dt-layout-row {
  padding: var(--space-0) var(--space-200);
}

.dt-input:hover {
  box-shadow: 0px 2px 10px -5px rgb(187, 247, 194, 100);
  border: 10px solid var(--stroke-dublin-rest);
}

.dt-search {
  display: flex;
  flex-direction: column;
  padding: var(--space-200) var(--space-200) var(--space-100) var(--space-200);
}

.dt-search > label {
  font-size: 16px;
}

#dt-search-0 {
  border-radius: var(--radius-max);
  border: 1px solid var(--stroke-dublin-rest);
  padding: var(--space-200) var(--space-350);
  background-color: var(--foreground-primary-rest);
}
.dt-length {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-100) var(--space-200);
}

.dt-paging {
  padding: var(--space-100) var(--space-200);
  display: flex;
  align-items: center;
  justify-content: center;
}

.dt-paging-button {
  background-color: var(--foreground-primary);
  border: 1px solid var(--stroke-ternitary);
  border-radius: var(--radius-max);
}
select.dt-input option {
  padding: 10px;
  background-color: #fff;
  color: #333;
}

.dt-info {
  padding: var(--space-100) var(--space-200);
}

select.dt-input {
  width: 100px; /* Adjust the width as needed */
  padding: 5px; /* Add some padding for better appearance */
  font-size: 16px; /* Change the font size */
  border: 1px solid #ccc; /* Add a border */
  border-radius: 4px; /* Round the corners */
  background-color: #f9f9f9; /* Change the background color */
  color: #333; /* Change the text color */
}
