@import '../00_Tokens/00_Tokens.css';

.footer {
  display: flex;
  flex-direction: column;
  padding: var(--space-200);
  gap: var(--space-100);
}

.footer__section {
  display: flex;
  flex-direction: column;
  background-color: var(--foreground-secondary-rest);
  padding: var(--space-100);
  gap: var(--space-050);
}
.footer__section .footer__heading {
}
