@import '../00_Tokens/00_Tokens.css';

.footer {
  padding: var(--space-200);
  background-color: var(--foreground-inverted-rest);
  color: var(--text-inverted-primary);
}

.footer a:visited {
  color: var(--text-inverted-primary);
}

.footer-nav__wrapper {
  display: flex;
  flex-direction: column;
}
.footer__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}
