@import '../00_Tokens/00_Tokens.css';

.issues-section {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.issues-section__headder {
  color: var(--text-dublin-primary);
}

.issues-section-upcoming {
  flex-direction: row;
}

.issues-section__description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.issues-section-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: var(--space-100);
}
