@import '../00_Tokens/00_Tokens.css';

.issues-section {
  width: 100vw;
  height: 100vh;
  background-color: var(--dublin-100);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
