@import '../00_Tokens/00_Tokens.css';

.about-section {
  width: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: var(--space-200);
}

.about-section__container {
  display: flex;
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: var(--space-100);
}

.about-section__headder {
  display: flex;
  flex-direction: column;
}

.about-section__content {
}

@media (max-width: 834px) {
  .about-section__container {
    width: 100%;
    padding: 0 1rem;
  }
}
