* {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body,
html {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-primary);
  background-image: url('../images/noisetexture.png');
  background-repeat: repeat;
  background-size: 200px;
}

*:focus {
  outline: none;
}

:root {
  --space-0: 0px;
  --space-1: 1px;
  --space-025: 2px;
  --space-050: 4px;
  --space-075: 6px;
  --space-100: 8px;
  --space-125: 10px;
  --space-150: 12px;
  --space-175: 14px;
  --space-200: 16px;
  --space-225: 18px;
  --space-250: 20px;
  --space-275: 22px;
  --space-300: 24px;
  --space-350: 28px;
  --space-400: 32px;
  --space-450: 36px;
  --space-500: 40px;
  --space-550: 44px;
  --space-600: 48px;
  --space-650: 52px;
  --space-700: 56px;
  --space-750: 60px;
  --space-900: 72px;
  --space-850: 68px;
  --space-800: 64px;
  --space-950: 76px;
  --space-1000: 80px;
  --space-1250: 100px;
  --space-1500: 120px;
  --space-1750: 140px;
  --space-2000: 160px;
  --space-2500: 200px;
  --space-3000: 240px;
}

:root {
  --white: rgb(255, 255, 255);
  --black: rgb(0, 0, 0);
  --transparent: rgba(255, 255, 255, 0);
}

@font-face {
  font-family: 'Inter Tight';
  src: url('../font/InterTight-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter Tight';
  src: url('../font/InterTight-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'DexterType';
  src: url('../font/DexterType.ttf') format('truetype');
}

body {
  font-family: 'Inter Tight';
}
