@import './00_DesignSystem.css';

#main {
  border-collapse: separate;
}

#main thead th {
  background-color: #f8f9fa;
  padding: 1rem 0.75rem;
  font-weight: 600;
  text-align: left;
}

#main tbody td {
  background-color: white;
  padding: 1rem 0.75rem;
  border-radius: var(--radius-x-small);
  vertical-align: top;
  border: 1px solid var(--stroke-ternitary);
}
