@import './00_DesignSystem.css';

.swiper {
  height: 100%;
  width: 100%;
  padding: var(--space-200);
  box-sizing: border-box;
}

.swiper-slide {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding: var(--space-200);
  border-radius: var(--radius-medium);
  border: var(--space-1) solid var(--stroke-quaternary);
  background-color: var(--foreground-primary);
}

.swiper-button-prev {
  content: '';
}

.swiper-botton-next {
  content: '';
}
