@import './00_Tokens.css';

.strong {
  font-weight: 600;
}

.caps {
  text-transform: capitalize;
}

.text-display-accent {
  font-size: var(--space-4000);
  line-height: calc(var(--space-4000) * 1.05);
  letter-spacing: calc(var(--space-4000) * 0.05);
  font-family: 'DexterType';
}

.text-display {
  font-size: var(--space-4000);
  line-height: var(--space-4000);
  letter-spacing: var(--space-4000);
}

.text-h1 {
  font-size: var(--space-1000);
  line-height: var(--space-900);
}

.text-h2 {
  font-size: var(--space-700);
  line-height: var(--space-625);
}

.text-h3 {
  font-size: var(--space-500);
  line-height: var(--space-500);
}

.text-h4 {
  font-size: var(--space-350);
  line-height: var(--space-350);
}

.text-body {
  font-size: var(--space-250);
  line-height: var(--space-275);
}

.label {
  font-size: var(--space-150);
  line-height: var(--space-150);
}
