@import './01_Quarks.css';

.W_SmoothScroll {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  overflow: hidden;
}

.W_NavContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: var(--space-100);
  background-color: var(--foreground-secondary);
  border-radius: var(--radius-small);
}
.W_NavigationLinks {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--space-100);
  border-radius: var(--radius-small);
  gap: var(--space-200);
  color: var(--zinc-100);
}

.W_HeroArticles {
  display: flex;
  flex-direction: column;
  gap: var(--space-100);
}
.W_Badge {
  display: flex;
  flex-direction: column;
}

.W_Badge > .A_Body {
  color: var(--text-ternitary);
}

.W_ShotGrid {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: var(--space-100);
}

.W_FooterForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.W_FooterDescriptor {
  display: flex;
  flex-direction: column;
}

.W_FooterDescriptor > .A_Caption {
  width: 50%;
}

.W_ArtilcesFilter {
  display: flex;
  padding: var(--space-200);
  justify-content: center;
  align-items: center;
  gap: var(--space-100);
}
