@import './00_DesignSystem.css';

.A_Display {
  font-family: 'Montreal Regular', sans-serif;
  font-weight: normal;
  font-size: var(--space-3000);
  line-height: var(--space-3000);
}

.A_Large-title {
  font-family: 'Montreal Regular', sans-serif;
  font-size: var(--space-1500);
  line-height: var(--space-1500);
}

.A_Title-1 {
  font-family: 'Montreal Regular', sans-serif;
  font-size: var(--space-1000);
  line-height: var(--space-1000);
}

.A_Title-2 {
  font-family: 'Montreal Regular', sans-serif;
  font-size: var(--space-750);
  line-height: var(--space-750);
}

.A_Title-3 {
  font-family: 'Montreal Regular', sans-serif;
  font-size: var(--space-600);
  line-height: var(--space-600);
}

.A_Subtitle-1 {
  font-family: 'Montreal Regular', sans-serif;
  font-size: var(--space-400);
  line-height: var(--space-400);
}

.A_Subtitle-2 {
  font-family: 'Montreal Regular', sans-serif;
  font-size: var(--space-300);
  line-height: var(--space-300);
}

.A_Body {
  font-family: 'Montreal Regular', sans-serif;
  font-size: var(--space-200);
  line-height: var(--space-250);
}

.A_Caption {
  font-family: 'Montreal Regular', sans-serif;
  font-size: var(--space-150);
  line-height: var(--space-200);
}

.A_links > a {
  font-family: 'Montreal Regular', sans-serif;
  color: var(--text-primary);
  text-decoration: none;
}

.A_links > a:visited {
  font-family: 'Montreal Regular', sans-serif;
  color: var(--text-primary);
  text-decoration: none;
}

.A_logo-small {
  display: flex;
  align-items: center;
  justify-content: start;
  color: var(--blue-600);
}

.A_logo-small:hover {
  transform: perspective(2000px) rotateY(35deg) rotateX(-10deg) scale(1.5);
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.A_logo-small > a {
  font-family: 'Montreal Bold', sans-serif;
  text-decoration: none;
}

.A_logo-small > a:visited {
  color: var(--blue-600);
}

.A_LargeInput {
  padding: var(--space-0) var(--space-200) var(--space-100) var(--space-200);
  display: flex;
  align-items: center;
  justify-content: center;
}
.A_LargeInput > .A_Title-1 {
  background-color: var(--foreground-primary);
  width: 100%;
  box-sizing: border-box;
  border-radius: var(--radius-large);
  padding: var(--space-150);
  border: var(--space-1) solid var(--stroke-quaternary);
}

.A_SmallBotton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.A_SmallBotton > .A_Body {
  display: flex;
  padding: var(--space-50) var(--space-50);
  align-items: start;
  justify-content: start;
}

.Filled {
  background-color: var(--foreground-secondary);
  border-radius: var(--radius-small);
  color: var(--text-secondary);
  width: 100%;
}

.Inline {
  background-color: none;
  border: none;
  color: var(--text-secondary);
}
