@import './01_Quarks.css';

.O_Navigation {
  padding: var(--space-200);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.O_Filter {
  display: flex;
  flex-direction: column;
  padding: var(--space-100);
  background-color: var(--foreground-primary);
  border-radius: var(--radius-large);
  border: var(--space-1) solid var(--stroke-quaternary);
  height: fit-content;
}
.O_Filter > .A_Subtitle-1 {
  padding-bottom: var(--space-200);
}

.O_EffectCard {
  display: flex;
  flex-direction: column;
  background-image: url('../images/effect.png');
  background-position: center;
  background-position: 50% 50%;
  border-radius: var(--radius-large);
  border: var(--space-1) solid var(--stroke-quaternary);
  padding: var(--space-100);
  grid-column: 1/2;
}

.O_EffectCard > .A_Title-1 {
  color: var(--text-inverted);
  padding-bottom: var(--space-300);
}

.O_EffectCard > .A_Subtitle-2 {
  color: var(--text-inverted);
}

.O_ShotCard {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  grid-row: span 1;
  grid-column: span 1;
  background-color: brown;
  border-radius: var(--radius-medium);
  padding: var(--space-100);
  height: var(--space-3000);
}

.O_FooterContainer {
  display: flex;
  flex-direction: row;
  gap: var(--space-200);
  padding: var(--space-200);
  background-color: var(--background-dark);
}
