@import './01_Quarks.css';

.O_Navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--space-200);
  background-color: var(--foreground-secondary);
}

.O_EventsCard {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
  background-color: var(--foreground-secondary);
  padding: var(--space-100) var(--space-100) var(--space-200) var(--space-100);
  border-radius: var(--radius-large);
  gap: var(--space-100);

  /*scrollbar*/

  scrollbar-width: none;
  -ms-overflow-style: none;
}

.W_EventsContainer::-webkit-scrollbar {
  display: none;
}
