.S_Hero {
  position: relative;
  display: flex; /* Ensures the canvas is positioned relative to this container */
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: space-between;
}

.S_Events {
  width: 40vw;
  padding: var(--space-200) var(--space-200) var(--space-100) var(--space-100);
  display: flex;
  flex-direction: column;
  gap: var(--space-200);
  border-left: 1px solid var(--stroke-ternitary);
}
