/*STYLES*/

/*SKELETON*/
.skeleton {
  background-color: var(--foreground--primary-rest);
  color: var(--text-primary);
  box-shadow: 0px 1px 2px 2px var(--e-1-key);
  box-shadow: 0px 1px 1px 0px var(--e-1-ambient);
  border: 0px solid var(--trasnparent);
}

.skeleton:hover {
  background-color: var(--foreground-primary-hover);
  box-shadow: 0px 1px 2px -2px var(--e-2-key);
  box-shadow: 0px 0px 2px 0px var(--e-2-ambient);
}

.skeleton:focus {
  outline: 1px solid var(--stroke-primary);
  outline-offset: -1px;
}

.skeleton:disabled {
  background-color: var(--foreground-primary-disabled);
  color: var(--text-secondary);
}

/*INVERTED*/
.inverted {
  background-color: var(--foreground-inverted-rest);
  color: var(--text-inverted-primary);
  box-shadow: 0px 1px 2px 2px var(--e-1-key);
  box-shadow: 0px 1px 1px 0px var(--e-1-ambient);
  border: 0px solid var(--transparent);
}

.inverted:hover {
  background-color: var(--foreground-inverted-hover);
  box-shadow: 0px 1px 2px -2px var(--e-2-key);
  box-shadow: 0px 0px 2px 0px var(--e-2-ambient);
}

.inverted:focus {
  outline: 1px solid var(--stroke-primary-focus);
  outline-offset: -1px;
}

.inverted:disabled {
  background-color: var(--foreground-inverted-disabled);
  color: var(--text-inverted-secondary);
}

/*DUBLIN*/
.dublin {
  background-color: var(--foreground-dublin-rest);
  color: var(--text-primary);
  box-shadow: 0px 1px 2px 2px var(--e-1-key);
  box-shadow: 0px 1px 1px 0px var(--e-1-ambient);
  border: 0px solid var(--transparent);
}

.dublin:hover {
  background-color: var(--foreground-dublin-hover);
  box-shadow: 0px 1px 2px -2px var(--e-2-key);
  box-shadow: 0px 0px 2px 0px var(--e-2-ambient);
}

.dublin:focus {
  outline: 1px solid var(--stroke-dublin-focus);
  outline-offset: -1px;
}

.dublin:disabled {
  background-color: var(--foreground-dublin-disabled);
  color: var(--text-dublin-secondary);
}

/*KYOTO*/
.kyoto {
  background-color: var(--foreground-kyoto-rest);
  color: var(--text-primary);
  box-shadow: 0px 1px 2px 2px var(--e-1-key);
  box-shadow: 0px 1px 1px 0px var(--e-1-ambient);
  border: 0px solid var(--trasnparent);
}

.kyoto:hover {
  background-color: var(--foreground-kyoto-hover);
  box-shadow: 0px 1px 2px -2px var(--e-2-key);
  box-shadow: 0px 0px 2px 0px var(--e-2-ambient);
}

.kyoto:focus {
  outline: 1px solid var(--stroke-kyoto-focus);
  outline-offset: -1px;
}

.kyoto:disabled {
  background-color: var(--foreground-kyoto-disabled);
  color: var(--text-kyoto-secondary);
}

/*TEXAS*/
.texas {
  background-color: var(--foreground-texas-rest);
  color: var(--text-texas-primary);
  box-shadow: 0px 1px 2px 2px var(--e-1-key);
  box-shadow: 0px 1px 1px 0px var(--e-1-ambient);
  border: 0px solid var(--transparent);
}

.texas:hover {
  background-color: var(--foreground-texas-hover);
  box-shadow: 0px 1px 2px -2px var(--e-2-key);
  box-shadow: 0px 0px 2px 0px var(--e-2-ambient);
}

.texas:focus {
  outline: 1px solid var(--stroke-texas-focus);
  outline-offset: -1px;
}

.texas:disabled {
  background-color: var(--foreground-texas-disabled);
  color: var(--text-texas-secondary);
}

/*TORONTO*/
.toronto {
  background-color: var(--foreground-toronto-rest);
  color: var(--text-toronto-primary);
  box-shadow: 0px 1px 2px 2px var(--e-1-key);
  box-shadow: 0px 1px 1px 0px var(--e-1-ambient);
  border: 0px solid var(--transparent);
}

.toronto:hover {
  background-color: var(--foreground-toronto-hover);
  box-shadow: 0px 1px 2px -2px var(--e-2-key);
  box-shadow: 0px 0px 2px 0px var(--e-2-ambient);
}

.toronto:focus {
  outline: 1px solid var(--stroke-toronto-focus);
  outline-offset: -1px;
}

.toronto:disabled {
  background-color: var(--foreground-toronto-disabled);
  color: var(--text-toronto-secondary);
}

/*LINKS*/

.inverted a:visited {
  color: var(--text-inverted-primary);
}

.skeleton a:visited {
  color: var(--text-primary);
}
.dublin a:visited {
  color: var(--text-primary);
}
.kyoto a:visited {
  color: var(--text-primary);
}
.texas a:visited {
  color: var(--text-primary);
}
.toronto a:visited {
  color: var(--text-primary);
}
