@import './stylesheets/00_DesignSystem.css';

.nav {
  width: 75vw;
}

.about {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#defaultCanvas0 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  pointer-events: none;
}
