@import './stylesheets/00_DesignSystem.css';

.nav {
  width: 75vw;
}

.about {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#p5-sketch {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Places it behind other content */
  opacity: 0.5; /* Makes it semi-transparent */
}
