@import '../00_Tokens/00_Tokens.css';

.strong {
  font-weight: 600;
}

.caps {
  text-transform: capitalize;
}

.mono {
  font-family: 'NotoMono';
  font-variation-settings: 'wght' 600, 'wdth' 62.5;
}
/*TEXT STYLES*/

.text-display {
  font-size: var(--fontsize-display);
  line-height: var(--lineheight-display);
}

.text-display-accent {
  font-size: var(--fontsize-display);
  line-height: calc(var(--lineheight-display) * 0.85);
  letter-spacing: calc(var(--fontsize-display) * 0.05);
  font-family: 'DexterType';
}

.text-h1 {
  font-size: var(--fontsize-h1);
  line-height: var(--lineheight-h1);
}

.text-h2 {
  font-size: var(--fontsize-h2);
  line-height: var(--lineheight-h2);
}

.text-h3 {
  font-size: var(--fontsize-h3);
  line-height: var(--lineheight-h3);
}

.text-h4 {
  font-size: var(--fontsize-h4);
  line-height: var(--lineheight-h4);
}

.text-body {
  font-size: var(--fontsize-body);
  line-height: var(--lineheight-body);
}

.text-label {
  font-size: var(--fontsize-label);
  line-height: var(--lineheight-label);
}
